main {
    margin-top: -64px;
    padding-top: 64px;
}

footer {
    color: var(--black);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 64px;
    background-color: var(--a_brown);
    box-shadow: 0px 5px 10px var(--shadow);
    overflow: hidden;
    z-index: 81;
}

.navbar > div {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    text-decoration: none;
    color: var(--black);
}

a.button,
.navbar > div > a,
.menuitem {
    color: var(--black);
    box-shadow: none;
    transition-duration: 0ms;
    user-select: none;
}

a.button,
.navbar > div:not(.logo, #burgerbox) > a,
.menuitem {
    border-radius: 99px;
}

.navbar > div:not(.logo, #burgerbox) > a,
.menuitem {
    background-color: var(--a_brown);
}

a.button {
    background-color: var(--white);
    border: 3px solid var(--black);
    box-shadow: 0 5px 0 var(--shadow);
}

.navbar > div:not(#burgerbox) > a {
    padding: 0.25rem 1rem;
    text-align: center;
}

.menuitem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    color: var(--black) !important;
    padding: 1rem;
    border: 3px solid var(--white);
    border-radius: 1rem;
    user-select: auto;
}

a.button:hover,
.menuitem:hover {
    background: linear-gradient(to right, var(--a_lightpink) 0%, var(--a_lightpink) 50%, var(--white) 50%) right;
    background-size: 400%;
    animation: wipe 180ms linear forwards;
}

.navbar > div:not(.logo, #burgerbox) > a:hover {
    background: linear-gradient(to right, var(--white) 0%, var(--white) 50%, var(--a_brown) 50%) right;
    background-size: 400%;
    animation: wipe 180ms linear forwards;
}

.menuitem:hover {
    background: linear-gradient(to right, var(--a_lightpink) 0%, var(--a_lightpink) 50%, var(--white) 50%) right;
    background-size: 400%;
    border: 3px solid var(--a_strongpink);
    animation: wipe 360ms linear forwards;
}

a.button:hover:active,
.navbar > div:not(.logo, #burgerbox) > a:hover:active,
.navbar > div#active:not(.logo, #burgerbox) > a:hover:active,
.menuitem:hover:active,
a.button.active {
    background: var(--a_strongpink);
    color: var(--white);
}

.navbar > div > a:hover:active,
.menuitem:hover:active {
    box-shadow: none;
    transform: none;
}

.menuitem:hover:active {
    border-color: var(--a_strongpink);
    color: var(--white) !important;
}

.navbar > div#active:not(.logo) > a {
    background: var(--white);
    color: var(--black);
}

a.button:hover:active,
a.button.active {
    box-shadow: 0 1px 0 var(--shadow);
    transform: translateY(4px);
}

/* - - - - - - - - - */

.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid a.button {
    margin: 10px;
}

.grid a.button > * {
    position: relative;
    top: 5px;
    margin: 5px 0;
}

.grid .rtc {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* - - - - - - - - - */

#sheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 64px 0 -64px;
    padding: 64px 0;
    background-color: var(--white);
}

#sfooter {
    background-color: var(--a_brown);
    box-shadow: 0px -5px 10px var(--shadow);
    z-index: 99;
}

#sfmap {
    display: flex;
    justify-content: flex-end;
}

/* - - - - - - - - - */

.menulist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -0.5rem;
}

.menulist > * {
    margin: 0.5rem;
}

.menulist>*:first-child {
    margin-left: 0;
}

.menulist>*:last-child {
    margin-right: 0;
}

.menuheader {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}

.mhtext {
    min-width: fit-content;
}

.menuheader>hr {
    width: 100%;
}

.menuheader>hr.hrright {
    margin-left: 1rem;
}

.menuheader>hr.hrleft {
    margin-right: 1rem;
}

.menuitem .miheader {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.17em;
}

.menuitem .new,
.menuitem .hot {
    margin-right: 0.5rem;
    animation: fade 2700ms linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.menuitem .new::before {
    content: "new!";
}

.menuitem .hot::before {
    content: "hot!";
}

/* - - - - - - - - - */

.row.recipe {
    align-items: flex-start;
}

#ingredients,
#equipment {
    margin-top: 0;
}

#ingredients > *,
#instructions > * {
    padding: 0.25rem 0;
    transition-duration: 250ms;
}

#ingredients > *:first-child,
#equipment > *:first-child,
#instructions > *:nth-child(2) {
    padding-top: 0;
}

#instructions > *:first-child {
    padding: 0 0 1rem;
}

.hinstructions {
    font-weight: bold;
}

.donestep {
    opacity: 0.5;
    text-decoration: line-through;
}

/* - - - - - - - - - */

@keyframes wipe {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: 0;
    }

}

@keyframes fade {
    0% {
        color: var(--a_red);
    }
    100% {
        color: var(--a_orange);
    }
}