@media only screen and not (max-width: 600px) {
    .mobileshow, .msheader, .msactions {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .mobilehide {
        display: none;
    }

    html {
        font-size: 12px;
    }

    footer {
        justify-content: center;
        top: 0;
        left: 0;
        width: 100%;
    }

    footer > div {
        top: 12px;
    }

    .dluibtn {
        width: 50px;
        height: 50px;
        margin: 0 10px 10px 0;
    }

    .mscontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }
    
    .card,
    .mscard {
        width: calc(100vw - 20px);
        max-width: none;
        height: calc(100vh - 140px);
        margin: 0;
        border: 3px solid var(--black);
        box-shadow: 10px 10px 0 var(--strongshadow);
    }

    .mscard {
        display: flex;
        flex-direction: column;
        min-height: 270px;
        background-color: var(--white);
        box-shadow: 0 10px 50px var(--strongshadow);
    }

    .card > .header,
    .msheader {
        background-image: url("../images/halftone/header_short.svg");
    }

    .msheader {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 48px;
        min-height: 48px;
        max-height: 48px;
        padding: 1rem;
        background-color: var(--a_darkblue);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        color: var(--white);
        font-size: 16px;
        font-weight: bold;
        overflow: hidden;
        user-select: none;
    }

    .card > .content,
    .mscontent {
        height: 100%;
        margin: 10px;
        overflow: scroll;
    }

    .mscontent th {
        border-right: 1px solid var(--black);
    }

    .mscard .darkmode {
        color: inherit;
    }

    .card > .content:not(.content.noactions) {
        height: calc(100% - 188px);
    }

    .card > .actions {
        flex-direction: column;
        height: 140px;
        padding: 0;
    }

    .card > .actions > button,
    .card > .actions > a.button {
        width: 90%;
        margin: 10px 0;
    }

    .row {
        flex-direction: column;
    }

    .row > * {
        margin: 0;
    }

    [class*="column-"] {
        width: 100%;
        padding: 0 1rem;
    }
    

    [class*="column-"].float {
        width: calc(100vw);
        box-shadow: 0 10px 50px var(--strongshadow);
        border-radius: 0;
        overflow: scroll;
    }

    .tooltip {
        text-decoration: none;
    }

    .ttpopup {
        display: none;
    }
    /* - - - - - - - - - */
}

/* - - - - - - - - - */