@media only screen and not (max-aspect-ratio: 1) {
    .topnav > .hamburger {
        display: none;
    }
}

@media only screen and (max-aspect-ratio: 1) {
    .topnav {
        justify-content: space-between;
        height: 50px;
    }

    .topnav > a:not(.logo):not(.hamburger) {
        display: none;
    }

    .topnav > .hamburger {
        display: block;
        float: right;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .hamburger {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .row {
        flex-direction: column-reverse;
    }
}

/* - - - - - - - - - */