footer {
    color: var(--black);
}

/* - - - - - - - - - */
/* classes */
/* - - - - - - - - - */

/* grid-view */
.row {
    display: flex;
}

.widescreen > [class*="column-"] {
    padding: 15px 20px; 
}

/* - - - - - - - - - */

/* navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    background-color: var(--white);
    overflow: hidden;
    z-index: 81;
    box-shadow: 0px 5px 10px var(--shadow);
}

.navbar > div,
.navbar > a.logo {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 45px;
    text-decoration: none;
    color: var(--black);
    margin: 5px 25px;
}

a.button,
.navbar > div > a,
.menuitem {
    background-color: var(--white);
    color: var(--black);
    border-radius: 99px;
    box-shadow: none;
    transition-duration: 0ms;
    user-select: none;
}

.navbar > div > a {
    background-color: var(--white);
    padding: 0.25rem 0.75rem;
}

a.button:hover,
.navbar > div > a:hover,
.menuitem:hover {
    background: linear-gradient(to right, var(--a_lighterblue) 30%, var(--lightgray) 30%, var(--lightgray) 70%, var(--white) 70%) right;
    background-size: 400%;
    animation: wave 550ms linear forwards;
}

a.button:hover:active,
.navbar > div > a:hover:active,
.navbar > div#active > a,
.menuitem:hover:active {
    background: var(--a_lightblue);
    color: var(--black);
    box-shadow: none;
    transform: none;
}

.navbar > div > a:hover:active,
.navbar > div#active > a,
.menuitem:hover:active {
    background: var(--white);
    border: 3px solid var(--a_lightblue);
}

.hamburger {
    display: inline-block;
    cursor: pointer;
}

.hamburger > div {
    width: 25px;
    height: 3px;
    background-color: var(--black);
    margin: 5px 0;
}

/* - - - - - - - - - */

.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid a.button {
    margin: 10px;
}

.grid a.button > * {
    position: relative;
    top: 5px;
    margin: 5px 0;
}

.grid .rtc {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* - - - - - - - - - */

#sfooter {
    background-color: var(--white);
    color: var(--a_gray);
    box-shadow: 0px -5px 10px var(--shadow);
    z-index: 99;
}

#sfmap {
    text-align: right;
}

/* - - - - - - - - - */

#instructions > *,
#notes > * {
    margin: 10px;
    transition-duration: 250ms;
}

#instructions > *:first-of-type,
#notes > *:first-of-type {
    margin-top: 0;
}

.hinstructions {
    font-weight: bold;
}

.donestep {
    opacity: 0.5;
    text-decoration: line-through;
}

.menuheader {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}

.mhtext {
    min-width: fit-content;
}

.menuheader>hr {
    width: 100%;
}

.menuheader>hr.hrright {
    margin-left: 1rem;
}

.menuheader>hr.hrleft {
    margin-right: 1rem;
}

.menuitem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid var(--white);
    border-radius: 1rem;
    padding: 1rem;
}

.menuitem:hover:active {
    border: 3px solid var(--a_lightblue);
}

@keyframes wave {
    0% {
        background-position: 100%;
    }
    25% {
        background-position: 50%;
    }
    75% {
        background-position: 50%;
    }
    100% {
        background-position: 0;
    }

}